# vim: ft=sh
REACT_APP_NO_STRICT_MODE=1
REACT_APP_TITLE="СОПы по хранению медизделий"
REACT_APP_DESCRIPTION="An application for creating a combined docx file from multiple files, depending on the user's choice"
